<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Classroom">
    <!-- 根据 ID 获取教室对象 -->
    <select id="getClassroomById" resultType="Classroom">
        SELECT * FROM classroom
    </select>
    <!-- 根据教室名字获取教室对象 -->
    <select id="getClassroomByName" resultType="Classroom">
        SELECT * FROM classroom
    </select>
    <!-- 根据教室特征获取教室对象 -->
    <select id="getRoomByConditions" resultType="Classroom">
        SELECT * FROM classroom
        <where>
            <if test="campus != null">
                campus = #{campus}
            </if>
            <if test="roomType != null">
                AND roomType = #{roomType}
            </if>
        </where>
    </select>
</mapper>
