<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Student">
    <!-- 根据学生 ID 获取学生对象信息 -->
    <select id="getStudentById" resultType="Student">
        SELECT * FROM student WHERE id = #{id}
    </select>
    <!-- 根据学生姓名获取学生信息 -->
    <select id="getStudentByName" resultType="Student">
        SELECT * FROM student WHERE name = #{name}
    </select>
    <!-- 根据学生 ID 更新学生信息 -->
    <update id="updateStudent">
        UPDATE student SET
            id = #{id},
            password = #{password},
            name = #{name},
            department = #{department},
            major = #{major},
            student_class = #{studentClass},
            gender = #{gender},
            in_year = #{inYear},
            native_place = #{nativePlace},
            phone = #{phone},
            email = #{email}
        WHERE id = #{id}
    </update>
</mapper>
